* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: rgb(30, 30, 30);
    overflow-x: hidden;
}
/*TOP BOTTOM BTN*/
.scroll {
    position: fixed;
    top: 50%;
    right: 0;
    width: 80px;
    height: 50px;
    display: block;
    background: #000;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    text-decoration: none;
    z-index: 10000;
}
.scroll.top {
    top: calc(50% - 80px);
    background: lightgreen;
}
.scroll.top:hover {
    color: #000;
    background: #f53d68;
}
.scroll.bottom {
    top: calc(40% - 0);
    background: #f53d68;
}
.scroll.bottom:hover {
    color: #000;
    background: lightgreen;

}
@media (max-width: 780px) {
    .scroll {
        font-size: 12px;
        font-weight: 400;
    }
}
/*SCROLLING PROGRESS*/
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #000;
}
.progress-container {
  width: 100%;
  height: 8px;
  background: #000;
}
.progress-bar {
  height: 8px;
  background: salmon;
  width: 0%;
  border-radius: 5px;
}

  /*H3 BAR*/

h3 {
    color: salmon;
    text-decoration: double underline;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 700;
}

.continer {
    margin-top: 80px;
    margin-bottom: 60px;
}

.cont {
    display: flex;
    margin-top: 20px;
    width: 600px;
    margin-left: 30%;
    margin-top: 20px;
    padding: 25px 20px;
    border-radius: 20px;
    background: skyblue;
    box-sizing: border-box;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.txt {
    padding: 18px;
}

.txt h4 {
    font-size: 30px;
    color: #000;
    font-weight: bold;
}

span {
    color: rgb(151, 40, 40);
}

.img img {
    width: 300px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
}

.continer .cont .txt button {
    width: 200px;
    height: 50px;
    background: none;
    font-size: 30px;
    font-weight: 500;
    border-radius: 10px;
    border: 3px solid #000;
    margin-top: 20px;
    box-shadow: 2px 3px 3px 2px #000;
}

.continer .cont .txt button:hover {
    background: coral;
    color: white;
    border: 3px solid coral;
    border-radius: 20px;
}

@media (max-width: 880px) {
    .cont {
        margin-left: 10%;
    }
}

@media (max-width: 740px) {
    .cont {
        display: block;
        width: 100%;
        margin: 0;
    }

    .txt h4 {
        font-size: 20px;
    }
}

@media (max-width: 350px) {
    .txt h4 {
        font-size: 12px;
    }

    .img img {
        width: 100%;
    }
}

/*HEADER BAR SECTION*/

nav{
    top: 0%;
    display: flex;
    position: fixed;
    height: 50px;
    width: 100%;
    background: #000;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}
nav .logo{
  color: salmon;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: skyblue;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  padding: 8px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: salmon;
  background: #fff;
}
nav ul li a.active:hover{
  background: none;
  color: skyblue;
}
nav .menu-btn i{
  color: skyblue;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
nav li a .fa-github:hover {
    color: #000;
}

nav li a .fa-linkedin:hover {
    color: #0072b1;
}

nav li a .fa-facebook:hover {
    color: #4267B2;
}

nav li a .fa-google:hover {
    color: #F4B400;
}

nav li a .fa-youtube:hover {
    color: #FF0000;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .logo {
      font-size: 25px;
  }
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 50px;
    left: -100%;
    background: #000;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 10px;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: salmon;
  }
  nav ul li a.active:hover{
      color: skyblue;
  }
}

/*CARD PROJECT*/
.cards1 {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.services2 {
    display: inline-flex;
    align-items: center;

}

.content2 {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
    border: 3px solid #fff;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.content2 .fab {
    font-size: 50px;
    margin: 16px 0;
}

.content2>* {
    flex: 1 1 100%;
}

.content2:hover {
    color: #fff;
}

.content2:hover a {
    background-color: #fff;
    background: #fff;
}

.content2-1:hover {
    border-color: salmon;
    background: salmon;
}

.content2-2:hover {
    border-color: mediumaquamarine;
    background: mediumaquamarine;
}

.content2-3:hover {
    border-color: coral;
    background: coral;
}

.content2 h2 {
    color: #fff;
    font-size: 30px;
    margin: 16px 0;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.content2 p {
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
}

.content2 a {
    margin: 22px 0;
    margin-bottom: 10px;
    background: #fff;
    color: rgb(17, 221, 228);
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 15px 0;
    border-radius: 25px;
    transition: 0.5s ease;
}

.content2 a:hover {
    border-radius: 4px;
}

@media (max-width: 900px) {
    .services2 {
        display: flex;
        flex-direction: column;
    }

}


/*ABOUT ME*/
.ab {
    display: flex;
    width: 100%;
    margin: 20px;
}

.ab .section_ab {
    width: 50%;
    margin: 20px;
    justify-content: center;
}

.ab .section_ab img {
    margin-left: 20%;
    height: 100px;
    width: 100px;
    clip-path: circle();
    transition: 0.5s;
}

.ab .section_ab img:hover {
    height: 200px;
    width: 200px;
}

.ab .section_ab h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.ab .section_ab p {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

@media (max-width: 950px) {
    .ab {
        display: grid;
        justify-content: center;
    }

    .ab .section_ab {
        width: 80%;
    }

    .ab .section_ab img {
        margin-left: 80px;
    }
}

@media (max-width: 460px) {
    .ab .section_ab {
        width: 100%;
        margin: 5px;
    }

    .ab .section_ab img {
        margin-left: 30px;
    }

    .ab .section_ab h5 {
        font-size: 17px;
    }

    .ab .section_ab p {
        font-size: 12px;
    }
}

@media (max-width: 290px) {
    .ab .section_ab p {
        font-size: 10px;
    }
}

/*SKILLS*/
.box {
    width: 600px;
    margin-left: 30%;
    margin-top: 20px;
    padding: 25px 20px;
    border-radius: 20px;
    background: rgb(52, 52, 52);
    box-sizing: border-box;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

h1 {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    color: lightgreen;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.skillbox {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
}

.skillbox p {
    padding: 0;
    letter-spacing: 1px;
    margin: 0 0 15px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

.skillbox p:nth-child(2) {
    float: right;
    position: relative;
    top: -25px;
}

.skill {
    box-sizing: border-box;
    background: #fff;
    border-radius: 8px;
}

.level {
    width: 100%;
    height: 15px;
    border-radius: 8px;
}

@media (max-width: 1024px) {
    .box {
        width: 500px;
        margin-left: 20%;
    }
}

@media (max-width: 700px) {
    .box {
        margin-left: 10%;
    }
}

@media (max-width: 580px) {
    .box {
        width: 450px;
        margin-left: 5%;
    }

    h1 {
        font-size: 25px;
    }

    .skillbox p {
        font-size: 10px;
    }

    .lavel {
        font-size: 10px;
    }
}

@media (max-width: 580px) {
    .box {
        width: 100%;
        margin-left: 0;
    }
}

/* CONTACT ME */

.contract-sec {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contract-info {
    color: rgb(11, 142, 140);
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}

.contract-info a {
    text-decoration: none;
    color: rgb(11, 142, 140);
}

.contract-info i {
    margin-right: 20px;
    font-size: 25px;
}

.contract-form {
    max-width: 700px;
    margin-right: 50px;
}

.contract-info,
.contract-form {
    flex: 1;
}

.contract-form .text-box {
    background: rgb(54, 54, 54);
    color: rgb(11, 142, 140);
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba (0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contract-form .text-box:first-child {
    margin-right: 15px;
}

.contract-form textarea {
    background: rgb(54, 54, 54);
    color: rgb(11, 142, 140);
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgb(54, 54, 54);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contract-form button {
    float: right;
    background: #2E94E3;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}

.contract-form button:hover {
    background: coral;
    color: #000;
}

/*FOR SMALL SCREENS */

@media screen and (max-width: 950px) {
    .contract-sec {
        flex-direction: column;
    }

    .contract-info,
    .contract-form {
        margin: 30px 50px;
    }

    .contract-form h2 {
        font-size: 30px;
    }

    .contract-form .text-box {
        width: 100%;
    }

}

@media screen and (max-width: 450px) {
    .contract-info {
        padding-left: 20px;
        font-size: 10px;
    }
}

@media screen and (max-width: 310px) {
    .contract-info {
        padding-left: 10px;
        font-size: 8.5px;
    }
}

@media screen and (max-width: 290px) {
    .contract-form .text-box {
        font-size: 10px;
    }

}

@media screen and (max-width: 450px) {

    .alert-error {
        font-size: 10px;
        padding: 15px 30px;
        min-width: 220px;

    }

}

/*ICON BUTTON*/
.top-head {
    margin-top: 0;
    margin-bottom: 5px;
    height: 30px;
}

.top-head .icon a {
    height: 30px;
    list-style-type: none;
    margin-top: 0;
    display: inline-block;
    text-decoration: none;
    color: #000;
    padding: 5px 20px;
    border: 1px solid #000;
    background: skyblue;
}

.top-head .icon a:hover {
    border: 3px solid;
    border-radius: 5px;
}

.top-head .icon a .fa-github:hover {
    color: #000;
}

.top-head .icon a .fa-linkedin:hover {
    color: #0072b1;
}

.top-head .icon a .fa-facebook:hover {
    color: #4267B2;
}

.top-head .icon a .fa-google:hover {
    color: #F4B400;
}

.top-head .icon a .fa-youtube:hover {
    color: #FF0000;
}


@media (max-width: 840px) {
    .top-head {
        height: 20px;
    }

    .top-head .icon a {
        font-size: 10px;
        height: 20px;
    }
}

/*FOOTER*/

footer .footer-txt p {
    color: #fff;
    padding: 8px 40px;
    background: rgb(52, 51, 51);
    text-align: center;
}

/* FOR SCROLL BAR*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, skyblue);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent, coral);
}
